{% extends 'base.html.twig' %}
{% block title %}Hello HomeController!
{% endblock
%}
{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('build/css/brands.css') }}"/>
	<link rel="stylesheet" href="{{ asset('build/css/paginator.css') }}"/>

{% endblock %}
{% block body %}
	<style></style>

	<div class="first">

		<div class="brand-list">

			{% for brand in pagination %}
				<a href="{{ path('app_car_brand', {'brand': brand.Brand})}}" class="brand-card">
					<div class="brand-image-container">
						{% if brand.Picture is defined and brand.Picture != null %}
							{# <img class="car-main-img" src="{{ vich_uploader_asset(brand.Picture, 'PictureFile') }}" alt="Card image cap"/> #}
							<img class="brand-image" src="/uploads/images/brand{{ asset(brand.Picture) }}" alt="Card image cap"/>
						{% else %}
							<img class="brand-image" src="https://via.placeholder.com/200x150" alt="">
						{% endif %}
					</div>
					{# <div class="image-card-container">
																																																																																										
																																																																																																{% if car.Picture is defined and car.Picture != null %}
																																																																																																	<img class="car-main-img" src="{{ vich_uploader_asset(car, 'PictureFile') }}" alt="Card image cap"/>
																																																																																																{% else %}
																																																																																																	<img class="car-main-img" src="https://via.placeholder.com/300x150" alt="">
																																																																																																{% endif %}
																																																																																															</div> #}
					<div class="brand-body">
						<h5 class="brand-title">{{ brand.Brand }}</h5>
						<span class="brand-info">


							{% if brand.cars|length == 1 %}
								Voir
								{{ brand.cars|length }}
								vehicule
								<i class="fa-solid fa-arrow-right"></i>

							{% elseif brand.cars|length > 2 %}
								Voir
								{{ brand.cars|length }}
								vehicules
								<i class="fa-solid fa-arrow-right"></i>
							{% else %}
								Aucun vehicule
							{% endif %}
						</span>
					</div>
				</a>

				{# <a href="{{ path('app_car', {'brand' : car.Brand, 'type': car.Type.Type, 'modele': car.Model,'id' : car.id })}}" class="btn btn-primary">Voir la voiture</a> #}

			{% endfor %}
		</div>
		<div class="custom-pagination" {{ stimulus_controller('paginator') }}>
			{{ knp_pagination_render(pagination) }}
		</div>
	</div>

{% endblock %}
