{% extends "base-easyadmin.html.twig" %}


{% block stylesheet %}{% endblock %}


{% block content_title %}{% endblock %}


{% block main %}
	<div class="first">
		<div class="custom-chart">
			{% for chart in chart %}
				{{ render_chart(chart) }}

			{% endfor %}
		</div>
	</div>

{% endblock %}

{% block body_javascript %}{% endblock body_javascript %}
