{% extends 'base.html.twig' %}

{% block title %}Hello CarController!
{% endblock %}

{% block body %}

	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a href="{{ path('app_home')}}">Home</a>
			</li>
			<li class="breadcrumb-item">
				<a href="{{ path('app_car_brand', {'brand' : car_brand }) }}">{{ car_brand }}</a>
			</li>
			{# <li class="breadcrumb-item active" aria-current="page">{{car.id}}</li> #}
		</ol>
	</nav>
	<div class="first">
		<div
			class="car_list">
			{# {{ dump(car_list) }} #}
			{% for car in car_list %}
				<div
					class="card car_item" style="width: 18rem">
					{# <img class="card-img-top" src="..." alt="Card image cap" /> #}
					<div class="card-body">
						<h5 class="card-title">{{ car.Brand }}
							{{ car.Model }}</h5>
						{#
																																																																								        <p class="card-text">
																																																																								          Some quick example text to build on the card title and make up the
																																																																								          bulk of the card's content.
																																																																								        </p>
																																																																								        #}
					</div>
					<ul class="list-group list-group-flush">
						<li class="list-group-item">
							Nombre d'options :
							{{ car.Options | length }}
						</li>
						<li class="list-group-item">Nombre de porte :
							{{ car.Door }}</li>

						<li class="list-group-item">Carburant :
							{{ car.FuelType }}</li>

						<li class="list-group-item">
							Boite de vitesse :
							{{ car.GearBoxType }}
						</li>
						{#
																																																																								        <li class="list-group-item">DATA: {{ car.DATA }}</li>
																																																																								        #}
						{% if car.Type.Type is defined %}
							<li class="list-group-item">Type :
								{{ car.Type.Type }}</li>
						{% endif %}
					</ul>

					{# <div class="card-body">
																															<a href="#" class="card-link">Card link</a>
																															<a href="#" class="card-link">Another link</a>
																														</div> #}

					<a href="{{ path('app_car', {'brand' : car.Brand,'type' : car.Type.Type, 'modele': car.Model, 'id' : car.id })}}" class="btn btn-primary">Voir la voiture</a>
				</div>
			{% endfor %}
		</div>
	{% endblock %}
