{% extends 'base.html.twig' %}

{% block title %}
	{{ car.Brand ~ ' - ' ~ car.Model}}
{% endblock %}

{% block body %}

	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a href="{{ path('app_home')}}">Home</a>
			</li>

			<li class="breadcrumb-item">
				<a href="{{ path('app_car_brand', {'brand' : car.Brand }) }}">{{ car.Brand }}</a>
			</li>

			<li class="breadcrumb-item">
				<a href="{{ path('app_car_brand_type', {'brand' : car.Brand, 'type' : car.Type.Type }) }}">{{ car.Type.Type }}</a>
			</li>

			<li class="breadcrumb-item">
				<a href="#">{{car.Model}}</a>
			</li>

			{# <li class="breadcrumb-item">
																																																																																																																																																	<a href="{{ path('app_car_brand_type', {'brand' : car.Brand, 'type' : car.Type }) }}">{{ car.Type }}</a>
																																																																																																																																																</li> #}
			<li class="breadcrumb-item active" aria-current="page">{{car.id}}</li>
		</ol>
	</nav>
	<div
		class="first">
		{# {{ dump(car) }} #}

		<div class="car-page-item">
			<div class="banner">
				{% if car.Picture is defined and car.Picture != null %}
					<img class="car-main-img" src="{{ vich_uploader_asset(car, 'PictureFile') }}" alt="Card image cap"/>
				{% else %}
					<img class="car-main-img" src="https://via.placeholder.com/300x150" alt="">
				{% endif %}
			</div>
			<div class="informations">
				<h2>{{ car.Brand ~ ' ' ~ car.Model}}</h2>
				<div>Motorisation : A venir</div>
				<div>Immatriculation :
					{{ car.PMC|date('d/m/Y') }}</div>
				<div>Première immatriculation :
					{{ car.Plate}}</div>
				<div>Type de voiture :
					{{ car.Type.Type }}</div>
				<div>Type de carburant :
					{{ car.FuelType }}</div>
				<div>Boite de vitesse :
					{{ car.GearBoxType }}</div>
				<div>Liste des options :
					{% if car.Options|length > 0 %}
						{# <ul> #}
						<div class="options-list">
							{% for option in car.Options %}
								<span class="btn btn-primary">{{option.OptionName}}</span>
								{# <li>{{option.OptionName}}</li> #}
							{% endfor %}
						</div>
						{# </ul> #}
					{% else %}
						Aucune option
					{% endif %}
				</div>

			</div>
		</div>


		<footer class="car-footer">
			<a href="{{ edit_url}}" class="btn btn-primary">
				<span class="badge bg-secondary">Admin</span>
				Editer le véhicule
			</a>
			<a href="{{ see_url}}" class="btn btn-primary">
				<span class="badge bg-secondary">Admin</span>
				Voir le véhicule
			</a>
		</footer>
	{% endblock %}
