// IMPORT ONLY
@import "./admin/admin.scss";

// @import "~bootstrap/scss/bootstrap";

// .custom-chart {
//   display: flex;
//   flex-direction: row;
//   //   border: 2px solid orange;
//   max-height: 25%;
//   max-width: 25%;
// }
