{% extends '@EasyAdmin/layout.html.twig' %}
{% block head_stylesheets %}
	<link rel="stylesheet" href="{{ asset('bundles/easyadmin/app.css') }}"/>
	<link rel="stylesheet" href="{{ asset('build/admin.css') }}"/>
	{{encore_entry_script_tags("app")}}

	{% block stylesheet %}{% endblock %}
{% endblock %}


{% block content_title %}
	<h1>Ma nouvelle page !</h1>
{% endblock %}


{% block main %}
	<div class="container">
		Hello, vous venez de creer votre nouvelle page !
	</div>
{% endblock %}
{% block body_javascript %}{% endblock body_javascript %}
