<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8"/>
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>"/>
		{# Run `composer require symfony/webpack-encore-bundle` to start using
												    Symfony UX #}
		{% block stylesheets %}
			{{
      encore_entry_link_tags("app")
    }}
		{% endblock %}
		{% block javascripts %}
			{{
      encore_entry_script_tags("app")
    }}
		{% endblock %}
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="#">EasyCar</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item active">
						<a class="nav-link" href="{{ path('app_home') }}">Nos voitures</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="{{ path('app_latest') }}">Nos dernieres voitures</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="{{ path('app_updated') }}">Nos dernieres mise à jour</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="{{ path('app_brands') }}">Nos marques</a>
					</li>
				</ul>
			</div>
		</nav>
		{% block body %}{% endblock %}
	</body>
</html>
