{% extends "base-easyadmin.html.twig" %}


{% block stylesheet %}{% endblock %}


{% block content_title %}{% endblock %}


{% block main %}{% endblock %}

{% block body_javascript %}{% endblock body_javascript %}
