.first {
  //   background-color: red;
  .brand-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    .brand-card {
      background-color: #f8f9fa;
      margin: 12px;
      padding: 5px;
      color: black;
      text-decoration: none;
      min-width: 190px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      transition: ease-in-out 0.2s;

      &:hover {
        box-shadow: 2px 3px 18px 0px #c7c7c7;
      }

      &:hover .brand-image {
        transform: scale(0.9);
      }

      &:hover .brand-info {
        color: rgb(88, 88, 88);
      }

      .brand-image-container {
        display: flex;
        max-width: 200px;

        .brand-image {
          max-width: inherit;
          transition: ease-in-out 0.6s;
        }
      }

      .brand-body {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
}
